.mainDiv {
    display: flex;
    flex-direction: row;
}

.divViewUser {
    background-color: red;
    width: 50%;
}

.divAddForm {
    background-color: green;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.divAddForm > div {
    width: 50%;
    margin: 10px;
}